# Ignore node_modules directory
node_modules/

# Ignore package-lock.json and yarn.lock
package-lock.json
yarn.lock

# Optional: Ignore any JSON files in the project
*.json
#server js until I can find suitable safe way to use it
server.js