body {
  background-color: skyblue;
}
.container {
  margin-top: 50px;
}
.card {
  margin-bottom: 30px;
}
.table-responsive {
  overflow-x: auto;
}
.table th,
.table td {
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
  max-width: 200px; /* Limit cell width */
}
